/*** Docs ***/




/*** Calendar ***/

.calAlert{
  width: 595px; float: right; margin-bottom: 5px;
}

.calXBtn{
  float: right; margin-top: -5px; margin-right: -5px;
}

.calWell{
  float: left; 
}

.fc-event.openSesame .fc-event-skin{
  background-color: rgb(229, 229, 11);
  color: black;
}

.fc-event.customFeed .fc-event-skin{
  background-color: rgb(132, 222, 175);
  color: black;
}

.calTools{
  margin-bottom: 10px;
}

.closed{
	border-radius: 10px !important;
	background-color: hsl(0, 0%, 83%);
}

.green {
    border-radius: 10px !important;
    background-color: hsl(120, 100%, 80%);
}

.red {
    border-radius: 10px !important;
    background-color: hsl(1, 100%, 85%);
}









.buttondemoBasicUsage section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }

.buttondemoBasicUsage md-content {
  margin-right: 7px; }

.buttondemoBasicUsage section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; }

.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; }
  
.fullpage-intro{
	width: 100%;
	height: 100%;
	background-image:url("../../../img/manifesto.jpg");
	    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-color: black;
}

.hideClass{
	opacity: 0;
}
